body {
    font-family: sans-serif;
}

.logo {
    font-size: 40px;
    background-color: #b9dcec;
    padding: 5px;
    display: inline-blockackground-color (66, 157, 209);
    border-radius: 30px;
}

img {
    border-radius: 30px;
}

h1 {
    text-align: center;
}

.jane-doe-rat {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;

}

jane-doe-rat:hover {
    opacity: 1;
}
